**/__pycache__
**/.bash_history
**/.cache/       
**/.config/
**/.vscode/
**/runs
**/doc
**/dep
**/models
**/data
**/fig
**/venv
**/work
**/output
*.png
*.jpg
*.svg
*.csv
*.tar
*.cache
*.log
*.db
*.mp4

