[Unit]
Description=Scale Data AcQuisition (DAQ)
#StartLimitIntervalSec=0
#StartLimitBurst=1440

[Service]
Type=oneshot
User=bsp
Group=bsp
ExecStart=rsync -av --no-owner --no-group --no-perms /home/bsp/git/ScaleDataAcquisition/output/dgt1/backup BSP@192.168.1.24:/volume1/BSP_data/Other_sensors/weight_logger/2025/.
ExecStart=rsync -av --no-owner --no-group --no-perms /home/bsp/git/ScaleDataAcquisition/output/dgt2/backup BSP@192.168.1.24:/volume1/BSP_data/Other_sensors/weight_logger/2025/.
ExecStart=rsync -av --no-owner --no-group --no-perms /home/bsp/git/ScaleDataAcquisition/output/weatherlink/ BSP@192.168.1.24:/volume1/BSP_data/Other_sensors/weather_station/2025/.
#Restart=on-failure
#RestartSec=60s
#KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

