[Unit]
Description=Stop Scale Data AcQuisition (DAQ)

[Service]
Type=simple
ExecStart=systemctl restart dgt1.service
#KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

