[Unit]
Description=Scale Data AcQuisition (DAQ)
StartLimitIntervalSec=0
StartLimitBurst=1440

[Service]
Type=simple
ExecStart=/home/bsp/git/ScaleDataAcquisition/venv/bin/python \
	/home/bsp/git/ScaleDataAcquisition/scaledaq.py \
	--host 192.168.1.23 \
	--port 26 \
	--no_scales 4 \
	--output_root_path /home/bsp/git/ScaleDataAcquisition/output \
	--database_name dgt2.db
Restart=on-failure
RestartSec=60s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

