[Unit]
Description=Stop Scale Data AcQuisition (DAQ)
#StartLimitIntervalSec=300
#StartLimitBurst=100

[Service]
Type=simple
ExecStart=systemctl stop ./group_a_scaledaq.service
#Restart=on-failure
#RestartSec=10s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

