[Unit]
Description=Scale Data AcQuisition (DAQ)
StartLimitIntervalSec=0
StartLimitBurst=1440

[Service]
Type=simple
ExecStart=/home/bsp/git/ScaleDataAcquisition/venv/bin/python \
	/home/bsp/git/ScaleDataAcquisition/weatherlink.py \
	--request http://192.168.1.20/v1/current_conditions \
	--output_root_path /home/bsp/git/ScaleDataAcquisition/output/weatherlink \
	--database_name weatherlink.db
Restart=on-failure
RestartSec=60s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

